name = "imap-worker"
compatibility_date = "2025-05-01"
compatibility_flags = ["nodejs_compat"]
main = "src/index.ts"

[env.local]
vars = { NODE_ENV = "local" }

[[env.local.queues.consumers]]
queue = "imap-sync-queue"
max_batch_size = 10
max_batch_timeout = 30

[[env.local.hyperdrive]]
binding = "HYPERDRIVE"
id = "57834ddb6716440496c8836f6d99bc9a"
localConnectionString = "postgresql://postgres:postgres@localhost:5432/zerodotemail"

[[env.local.r2_buckets]]
binding = "THREADS_BUCKET"
bucket_name = "threads-staging"

[env.staging]
vars = { NODE_ENV = "staging" }

[[env.staging.queues.consumers]]
queue = "imap-sync-queue-staging"
max_batch_size = 10
max_batch_timeout = 30

[[env.staging.hyperdrive]]
binding = "HYPERDRIVE"
id = "ae4405addb934ccdb006a6e701d725fa"

[[env.staging.r2_buckets]]
binding = "THREADS_BUCKET"
bucket_name = "threads-staging"

[env.production]
vars = { NODE_ENV = "production" }

[[env.production.queues.consumers]]
queue = "imap-sync-queue-prod"
max_batch_size = 10
max_batch_timeout = 30

[[env.production.hyperdrive]]
binding = "HYPERDRIVE"
id = "ae4405addb934ccdb006a6e701d725fa"

[[env.production.r2_buckets]]
binding = "THREADS_BUCKET"
bucket_name = "threads"
